services:
  frontend:
    image: react-fsd-dev:v1
    container_name: react-fsd-container
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "5173:5173"
    environment:
      - CHOKIDAR_USEPOLLING=true
    volumes:
      - ./:/app          
      - /app/node_modules

    
    stdin_open: true 
    tty: true     